frontend http
    mode http
    bind 0.0.0.0:80
    bind 0.0.0.0:443 ssl crt /usr/local/etc/certs/haproxy.pem alpn h2,http/1.1

    timeout client 10s
    
    acl host_careers hdr(host) -i 127.0.0.1:8080

    use_backend app_careers if host_careers

    # default_backend app_servers

backend app_careers
    timeout connect 5s
    timeout server 5s
    mode http
    option forwardfor
    server replica-1 careers:80 check

    # option httpchk
    # http-check send meth GET  uri /ping

listen stats
    bind 0.0.0.0:3001
    mode http
    stats enable
    stats uri /stats
    stats refresh 3s
    stats auth admin:password

# apt install certbot
# certbot certonly --standalone --agree-tos --preferred-challenges http --http-01-port 80 -d demo.example.com --email admin@example.com 
# certbot renew
