body {
    background-color: #ecf0f1;
    color: #34495e;
    font-family: monospace;
}

table, form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

#position-title:hover {
    font-weight:bold;
    cursor: pointer;
}

input {
    padding: 5px;
    margin: 2px;
    border: 1px solid #34495e;
    border-radius: 0px;
    color: #2c3e50;
    font-family: monospace;
}

input:focus {
    outline: none;
}

input[type=file] {
    border: 0px;
}

button[type=submit] {
    padding: 7px;
    border: none;
    border-radius: 0px;
    background-color: #34495e;
    color: #ffffff;
    cursor: pointer;
    font-family: monospace;
}

ul {
    list-style: none;
    padding: 0px;
}

span {
    display: block;
    width: 500px;
    word-wrap: break-word;
}

/* #parent-div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
} */
