<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
  </head>
  <body>
    <div id="ping">
      <div hx-get="/ping" hx-trigger="load">
        <img class="htmx-indicator" src="{{ url_for('static', path='/puff.svg') }}" />
      </div>
    </div>
  </body>
</html>
