<table>
  <tbody>
    <tr>
      <td><b>Title</b></td>
      <td>{{ results.title }}</td>
    </tr>
    <tr>
      <td><b>Description</b></td>
      <td><span>{{ results.description }}</span></td>
    </tr>
    <tr>
      <td><b>Experience level</b></td>
      <td>{{ results.experience_level }}</td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td>{{ results.location }}</td>
    </tr>
  </tbody>
</table>

<form hx-post="/applications" hx-encoding="multipart/form-data" id="form">
  <ul>
    <li><input name="jobseeker_name" type="text" placeholder="Name" required/></li>
    <li><input name="jobseeker_phone" type="tel" placeholder="Telephone" required/></li>
    <li><input name="jobseeker_mail" type="email" placeholder="Email" required/></li>
    <li><input name="jobseeker_resume" type="file" placeholder="Resume" accept=".pdf" required/></li>
    <li><input name="position_id" value="{{ results.department_id }}" type="text" hidden/></li>
    <li><input name="accept" value="text/html" type="text" hidden/></li>
    <li><button type="submit">Submit</button></li>
  </ul>
</form>
